[mysqld]
user=root
socket=/var/lib/mysql/mysql.sock
datadir=/app/mysql
port=3306
log-bin=/app/mysql/mysql-bin
character-set-server=ujis

[mysql.server]
user=root
basedir=/var/lib

[mysqld_safe]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=ujis
